{% load i18n %}{% autoescape off %}
Hello {{ user.get_username }},

We received a request to reset the password for your Fresh Mart account. Don't worry, we're here to help!

Your username: {{ user.get_username }}

To reset your password, click or copy this link:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This password reset link will expire in 4 hours.

If you didn't request this reset, please ignore this email or contact our support team.

Best regards,
Fresh Mart Team
{% endautoescape %}